{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- section 1 -->
<div class="container mt-lg-5 mt-md-5 mt-sm-5">
  <div class="row my-row pos">
    <div class="col-md col-lg mt-lg-1b fs-">
      <h4 class="mb-4 mt-lg-0 fw-bold text-white">تخصصی‌ترین وبسایت در حوزه بک-اند</h4>
      <h5 class="text-primary mb-3 mb-lg-4 mt-lg-4">MyWebsite.ir</h5>
      <p class="lh-lg mb-lg-5 text-white">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>

      <button type="button" class="btn btn-outline-info me-4">اطلاعات بیشتر</button>
      <button type="button" class="btn btn-outline-secondary">تماس با ما</button>
    </div>

    <div class="col-md col-lg-4 d-flex align-items-center mt-sm-5">
      <img src="{% static 'pictures/Nature HD Wallpapers 109.jpg' %}" alt="" class="img-fluid rounded" />
    </div>
  </div>
</div>
<div class="mb-4"></div>
<!-- end section 1 -->

<div class="container">
  <div class="row align-items-center text-center">
    <div class="col line"></div>
    <div class="col-2 mx-auto">
      <h3 class="text-white">خدمات ما</h3>
    </div>
    <div class="col line"></div>
  </div>
</div>
<div class="mb-4"></div>

<!-- section 2 -->

<!-- card 1 -->
<section class="text-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <i class="bi bi-stack fs-1 my-bi mb-4"></i>
        <h5 class="mb-3">خدمات ما</h5>
        <p class="mb-3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است</p>
        <button type="button" class="btn btn-outline-info me-4">ثبت سفارش</button>
        <div class="mb-5"></div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="card text-center mb-4 my-card bg-secondary text-info">
              <div class="card-body">
                <i class="bi bi-graph-up my-bi fs-1 mb-4 .my-card-i"></i>
                <h5 class="card-title mb-3">لورم ایپسوم</h5>
                <h6 class="lh-base card-text text-muted my-text-card">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</h6>
              </div>
            </div>

            <div class="card text-center my-card bg-secondary text-info">
              <div class="card-body">
                <i class="bi bi-graph-up my-bi fs-1 mb-4 .my-card-i"></i>
                <h5 class="card-title mb-3">لورم ایپسوم</h5>
                <h6 class="lh-base card-text text-muted my-text-card">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</h6>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card text-center mb-4 mt-5 my-card bg-secondary text-info">
              <div class="card-body">
                <i class="bi bi-back my-bi fs-1 mb-4 .my-card-i"></i>
                <h5 class="card-title mb-3">لورم ایپسوم</h5>
                <h6 class="lh-base card-text text-muted my-text-card">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</h6>
              </div>
            </div>

            <div class="card text-center my-card bg-secondary text-info">
              <div class="card-body">
                <i class="bi bi-back my-bi fs-1 mb-4 .my-card-i"></i>
                <h5 class="card-title mb-3">لورم ایپسوم</h5>
                <h6 class="lh-base card-text text-muted my-text-card">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}